# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLite database
*.db

# Environment files
.env
*.env

# VS Code settings
.vscode/

# Mac OS files
.DS_Store

# Jupyter checkpoints
.ipynb_checkpoints/

# Python virtual environments
venv/
env/
ENV/

# Lottie animation files (if dynamic)
*.json

# Streamlit config/cache
.streamlit/config.toml
.streamlit/secrets.toml
